.header{
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 50;
	-webkit-transition: 250ms ease-out;
	-moz-transition: 250ms ease-out;
	-o-transition: 250ms ease-out;
	-ms-transition: 250ms ease-out;
	transition: 250ms ease-out;
}
.header .top-header{
	width: 100%;
	height: 25px;
	background: #D73B3B;
}
.header .main-header{
	width: 100%;
	height: 50px;
	background: #F45959;
}
.main{
	padding-top: 75px;
	min-height: 500px;
}