<!DOCTYPE html>
<html ng-app>
	<head>
		<link rel="stylesheet" href="res/css/main.css">
		<script src="res/js/lib/jquery-2.1.3.min.js"></script>
		<script src="res/js/lib/angular.min.js"></script>
		<script src="res/js/main.js"></script>
	</head>
	<body>
		<div class="main">
			<p>1 + 2 = {{ 1 + 2 }}</p>
			<div ng-include="'templates/header.html'"></div>
		</div>
	</body>
</html>